# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
data/raw/
outputs/
data/processed/
.DS_Store

# Deliverables are tracked
!deliverables/

# User env files
dev.env
